<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label><b>Home</b></ion-label>
    </ion-tab-button>


    <ion-tab-button tab="murli">
      <ion-icon name="logo-youtube"></ion-icon>
      <ion-label><b>Murli</b></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="commentary">
      <ion-icon name="document"></ion-icon>
      <ion-label><b>Commentary</b></ion-label>
    </ion-tab-button>
    
    
    <ion-tab-button tab="classes">
      <ion-icon name="book"></ion-icon>
      <ion-label><b>Classes</b></ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="text">
      <ion-icon name="chatbubble-ellipses"></ion-icon>
      <ion-label><b>Text</b></ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
