<ion-tabs>

  <ion-tab-bar slot="bottom" color="danger">
    
    <ion-tab-button tab="home">
      <ion-icon name="bookmarks-outline"></ion-icon>
      <ion-label><b>Home</b></ion-label>
    </ion-tab-button>


    <ion-tab-button tab="murli">
      <ion-icon name="chatbox-outline"></ion-icon>
      <ion-label><b>Murli</b></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="commentary">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label><b>Commentary</b></ion-label>
    </ion-tab-button>
    
    
    <ion-tab-button tab="classes">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label><b>Classes</b></ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="course">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label><b>7 Day Course</b></ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
