<app-header title="Today's Latest Activity"></app-header>

<ion-content>
  <ion-card *ngFor="let latestMurli of latestMurli | async">
    <ion-grid>
      <ion-row (click)="presentModal('Aaj ki Murli',latestMurli)">
        <ion-col size="6">
          <img [src]="'http://img.youtube.com/vi/' + latestMurli.videoId + '/0.jpg'">
        </ion-col>
        <ion-col size="6">
          <h2>Aaj Ki Murli</h2>
          <hr style="background-color: #ccc;">
          <h6>Click to watch now</h6>
          <small>{{latestMurli.date.toDate() | date}}</small>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card *ngFor="let latestCommentary of latestCommentary | async">
    <ion-grid>
      <ion-row (click)="presentModal('Aaj ki Commentary',latestCommentary)">
        <ion-col size="6">
          <img [src]="'http://img.youtube.com/vi/' + latestCommentary.videoId + '/0.jpg'">
        </ion-col>
        <ion-col size="6">
          <h2>Commentary</h2>
          <hr style="background-color: #ccc;">
          <h6>Click to watch now</h6>
          <small>{{latestCommentary.date.toDate() | date}}</small>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>


  <ion-card *ngFor="let latestClass of latestClass | async">
    <ion-grid>
      <ion-row (click)="presentModal(latestClass.title,latestClass)">
        <ion-col size="6">
          <img [src]="'http://img.youtube.com/vi/' + latestClass.videoId + '/0.jpg'">
        </ion-col>
        <ion-col size="6">
          <h2>{{latestClass.title}}</h2>
          <hr style="background-color: #ccc;">
          <h6>Click to watch now</h6>
          <small>{{latestClass.date.toDate() | date}}</small>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card routerLink="/tabs/text">
          <ion-card-header class="ion-text-center">
            <ion-icon name="document-text" style="font-size: 3rem;"></ion-icon>
            <ion-card-title>Audio</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card routerLink="/tabs/text">
          <ion-card-header class="ion-text-center">
            <ion-icon name="chatbubble-ellipses" style="font-size: 3rem;"></ion-icon>
            <ion-card-title>Text</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>